/* Login */


#login {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFEF8;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    
}


/* Log In */
h2 {
    position: absolute;
    left: 100px;
    top: 242px;
    width: 800px;
    height: 36px;
    text-align: center;

}

.tex-email {
    position: absolute;
width: 46px;
height: 16px;
left: 330px;
top: 315px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #3D3D3D;
   
}
#user-email {
    position: absolute;
width: 379px;
height: 51px;
left: 330px;
top: 338px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.email-error{
    position: absolute;
    width: 150px;
    height: 16px;
    left: 330px;
    top: 315px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #e70a0a;
}


.tex-passwor  {
    position: absolute;
    width: 139px;
    height: 16px;
    left: 330px;
    top: 410px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #3D3D3D;
}

#user-password {
    position: absolute;
width: 379px;
height: 51px;
left: 330px;
top: 440px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}
.password-error{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 330px;
    top: 410px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #e70a0a;
}
.submit-btn {
    position: absolute;
    width: 102px;
    left: 445px;
    top: 550px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.mot-de-passe-oublier{
    position: absolute;
width: 200px;
height: 16px;
left: 445px;
top: 600px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #3D3D3D;
}




font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identical to box height */




/* E-mail */

position: absolute;
width: 46px;
height: 16px;
left: 530px;
top: 315px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #3D3D3D;



/* Mot de passe */

position: absolute;
width: 92px;
height: 16px;
left: 530px;
top: 419px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #3D3D3D;



/* Mot de passe oublié */

position: absolute;
width: 139px;
height: 16px;
left: 651px;
top: 593px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;

color: #3D3D3D;



/* Rectangle 12 */

position: absolute;
width: 379px;
height: 51px;
left: 530px;
top: 338px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);


/* Rectangle 13 */

position: absolute;
width: 379px;
height: 51px;
left: 530px;
top: 441px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);


/* Group 1 */

position: absolute;
width: 179px;
height: 36px;
left: 630px;
top: 529px;



/* Rectangle 15 */

position: absolute;
width: 179px;
height: 36px;
left: 630px;
top: 529px;

background: #1D6154;
border-radius: 60px;


/* Se connecter */

position: absolute;
width: 102px;
height: 17px;
left: 669px;
top: 539px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Footer */

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 3325px;



/* Rectangle 16 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Mentions légales */

position: absolute;
left: 85%;
right: 7.43%;
top: 40%;
bottom: 33.33%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #000000;



/* Footer */

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 964px;



/* Rectangle 16 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Mentions légales */

position: absolute;
left: 85%;
right: 7.43%;
top: 40%;
bottom: 33.33%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #000000;



/* Menu */

position: absolute;
width: 1140px;
height: 42px;
left: 150px;
top: 50px;



/* Logo */

position: absolute;
left: 0%;
right: 81.32%;
top: 0%;
bottom: 0%;



/* Sophie Bluel */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.1%;

font-family: 'Syne';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
text-align: center;

color: #B1663C;



/* architecte d’intérieur */

position: absolute;
left: 0%;
right: 35.21%;
top: 71.43%;
bottom: 0%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #93532F;



/* icons8-instagram 1 */

position: absolute;
left: 98.07%;
right: 0%;
top: 23.81%;
bottom: 23.81%;



/* Vector */

position: absolute;
left: 6%;
right: 6%;
top: 6%;
bottom: 6%;

background: #000000;


/* Item menu */

position: absolute;
left: 72.02%;
right: 23.16%;
top: 26.19%;
bottom: 28.57%;



/* projets */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Item menu */

position: absolute;
left: 80.7%;
right: 14.47%;
top: 26.19%;
bottom: 28.57%;



/* projets */

position: absolute;
left: -5.45%;
right: -3.64%;
top: 0%;
bottom: 0%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Item menu */

position: absolute;
left: 89.39%;
right: 5.79%;
top: 26.19%;
bottom: 28.57%;



/* projets */

position: absolute;
left: 14.55%;
right: 16.36%;
top: 0%;
bottom: 0%;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;

