/* Login */

#loginpage {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #fffef8;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
}
h1 {
  position: absolute;
  left: 100px;
  top: 242px;
  width: 800px;
  height: 36px;
  text-align: center;
}
.tex-email {
  position: absolute;
  width: 46px;
  height: 16px;
  left: 330px;
  top: 315px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
#user-email {
  position: absolute;
  width: 379px;
  height: 51px;
  left: 330px;
  top: 338px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.user-email-error-msg {
  position: absolute;
  width: 150px;
  height: 16px;
  left: 330px;
  top: 395px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #e70a0a;
}
.tex-passwor {
  position: absolute;
  width: 139px;
  height: 16px;
  left: 330px;
  top: 410px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
#user-password {
  position: absolute;
  width: 379px;
  height: 51px;
  left: 330px;
  top: 440px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.user-password-error-msg{
  position: absolute;
  width: 200px;
  height: 20px;
  left: 330px;
  top: 500px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #e70a0a;
}
.submit-btn {
  position: absolute;
  width: 102px;
  left: 445px;
  top: 550px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.mot-de-passe-oublier {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 445px;
  top: 600px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
