/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
#edition {
  padding: 1rem 0 1rem 0;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.publiez {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 0.5rem;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

ol,
ul {
  list-style: none;
  gap: 1rem;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
a {
  text-decoration: none;
  color: #0f0f0f;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}
#myBtn1 button {
  border: none;
  color: #0f0f0f;
  background-color: white;
}
#myBtn1 button:hover {
  background-color: white;
  color: #0f0f0f;
}
.designer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }
#myBtn2 button {
  border: none;
  color: #0f0f0f;
  background-color: white;
  padding-bottom: 1rem;
}
#myBtn2 button:hover {
  background-color: white;
  color: #0f0f0f;
}
#portfolio h2 {
  text-align: center;
}
.portfolio-head {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.portfolio-head button {
  border: none;
  color: #0f0f0f;
  background-color: white;
}
.portfolio-head button:hover {
  background-color: white;
  color: #801f1f;
}
.group {
  display: flex;
  justify-content: center;
}
/*modal*/
.ensemble {
  position: fixed;
  padding: 10px;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #333333d3;
}

#modal1 {
  display: flex;
}

.modal {
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 10px;
  width: 60%;
  height: 90%;
  position: absolute;
  top: 2%;
  left: 20%;
  transform: translate(-50% -50%);
  overflow: auto;
  background-color: #fefefe;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
  padding: 5px;
  -webkit-transform:3px;
  -moz-transform:3px;
  -ms-transform:3px;
  -o-transform:3px;
}
.modal h2 {
  margin-bottom: 1.5rem;
}
 .modal-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.5rem;
  margin: auto;
  padding: 20px;
  border-bottom: 2px solid black;
}

.modal-content img {
  position: relative;
  width: 100%;
}
.modal-content figure {
  position: relative;
  display: flex;
  flex-direction: column;
}
.btn-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#supprimer-gallerie {
  color: red;
  border: none;
  background-color: inherit;
  font-weight: normal;
}
#ajoutphoto {
  color: white;
  background-color: #1d6154;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}
.ajout-photo {
padding: 4rem;
} 
.trai {
  border-bottom: 2px solid black;

}
.valider-photo {
  border: none;
  width: 30%;
  margin: 1rem;
  background-color: rgb(114, 115, 115);
  font-size: large; 
  color: aliceblue;
  padding: 0.5rem 2.5rem;
  position: absolute;
  left: 30%;
  top: 75%;
  }
.modal figure {
  position: relative;
}
.iconSup {
  background-color: #e70a0a;
}
.fa-trash-can, .iconSup {
  position: absolute;
  top: 1px;
  font-size: 100%;
  right: 1px;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#close, #closer {
  z-index: 1;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.fa-arrow-left {
  z-index: 1;
  padding: 8px 10px;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  background-color: #e3dce2;
}
#ensmble:hover,#ensmbler:hover
#ensmble:focus, #ensmble:focus {
  color: #940505;
  text-decoration: none;
  cursor: pointer;
}
.zone-image {
  background-color: #e8f1f7;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 10rem;
}
.description {
  display: flex;
  flex-direction: column;

}
.zone-image input {
  display: none;
}
.zone-image label {
  background-color: #cbd6dc;
  color: #306685;
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.zone-image i {
  font-size: 5rem;
}
.titre-categorie {
  height: 3rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.501);
  margin: 0.5rem 0 1rem 0;
}

.btn-modif:hover {
  background-color: white;
  color: #0f0f0f;
}
.hiden {
  display: none;
}
button {
  border: 1px solid #1d6154;
  border-radius: 1rem;
  color: #1d6154;
  margin: .5rem;
  padding: .5rem 1rem;
}
button:hover, button:focus {
  background-color: #1d6154;
  color: white;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
main .contnair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 4rem;
  margin: 0 auto;
}

main .contnair .heading {
  padding-bottom: 1rem;
}




















/* la partie du css de login */

#loginAll {
  display: flex;
  justify-content: center;
}
#loginPage {
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
#loginPage h2 {
  text-align: center;
}
.form-group {
  position: relative;
  width: 80%;
  height: 70%;
}
.main-title {
  position: absolute;
  left: 45%;
  top: 30%;
  height: 36px;
  text-align: center;
}
.font {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.tex-email {
  position: absolute;
  width: 46px;
  height: 16px;
  left: 35%;
  top: 30%;
  color: #3d3d3d;
}
#user-email {
  position: absolute;
  width: 379px;
  height: 51px;
  left: 35%;
  top: 35%;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.user-email-error-msg {
  position: absolute;
  left: 35%;
  top: 100%;
  text-align: center;
  color: #e70a0a;
}
.tex-passwor {
  position: absolute;
  width: 139px;
  height: 16px;
  left: 35%;
  top: -40%;
  color: #3d3d3d;
}
#user-password {
  position: absolute;
  width: 379px;
  height: 51px;
  left: 35%;
  top: -35%;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.user-password-error-msg{
  position: absolute;
  width: 200px;
  height: 20px;
  left: 35%;
  top: -18%;
  color: #e70a0a;
}
.submit-btn {
  position: absolute;
  width: 102px;
  left: 45%;
  top: 78%;
  text-align: center;
}
#mot-de-passe-oublier {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 45%;
  top: 87%;
  color: #3d3d3d;
}
.user-not-error-msg {
  position: absolute;
  width: 200px;
  height: 16px;
  left: 50%;
  top: -77%;
  color: red;
}
.mot-de-passe-oublier {
  position: absolute;
  left: 45%;
  top: 85%;
  text-align: center;
} 

main {
    margin-bottom: 300px;
}

.bold {
    font-weight: bold;
}

.formulaireLogin {
    width: 379px;
    margin: auto;
    margin-top: 100px;
}
.formulaireLogin h2{
    text-align: center;
    margin-bottom: 50px;
}

.form{
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 7px;
}

.form input {
    border: 0;
    height: 51px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.buttonSubmit {
    background-color: #1D6154;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-family: "Syne";
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bouttonSeConnecter, .lienMotDePasseOublie {
    display: flex;
    justify-content: center;
}

.lienMotDePasseOublie a {
    text-decoration: underline;
}